@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "~materialize-css/sass/materialize";

@import "~nes.css/scss/nes";  
// @import "~nes.css/scss/nes-core";  
html, body {
  min-height: 100%
}

body {
  background: url('./assets/img/mario-bg.png') no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95E8F3;
}

form {
  padding: 20px;
  margin-top: 60px;

  button, h5 {
    margin: 20px 0;
  }

  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  .materialize-textarea:focus:not([readonly]){
    border-color: #ec407a;
    box-shadow: none;
  }
}

a:hover{
  text-decoration: none;
}